<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1"/>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="Soap_ISearchService" messageEncoding="Mtom">
                    <security mode="None"/>
                </binding>
                <binding name="Soap_IServiceManagement" messageEncoding="Mtom">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4812/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1"/>
            <endpoint address="http://localhost:1503/Search.svc/ws" binding="wsHttpBinding" bindingConfiguration="Soap_ISearchService" contract="SearchService.ISearchService" name="Soap_ISearchService"/>
            <endpoint address="http://localhost:1503/Search.svc/ws" binding="wsHttpBinding" bindingConfiguration="Soap_IServiceManagement" contract="SearchService.IServiceManagement" name="Soap_IServiceManagement"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
