<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<packages>
  <package id="Fody" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="MrAdvice.Fody" version="1.2.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>