<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IContacts" value="Pragma.User.Jsy.Demo.SimpleService.Contacts" />
    <add key="serviceUrl" value="http://localhost:3107/Service1.svc" />
    <add key="clientType" value="ws" />
    <add key="Environment" value="Dev" />
    <add key="ConfigSet" value="test" />
    <add key="configFilePath" value="C:\temp\serviceConfig.xml" />
    <add key="ServiceName" value="test" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Server=139.116.185.72;Database=o1881_dev;User ID=o1881User;Password=Målernummer02;Trusted_Connection=False;Connection Timeout=120;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic_IContacts" messageEncoding="Mtom" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ws_IContacts" messageEncoding="Mtom" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3107/Service1.svc/ws" binding="wsHttpBinding" bindingConfiguration="ws_IContacts" contract="ServiceReference1.IContacts" name="ws_IContacts">
        <identity>
          <userPrincipalName value="PRAPC086\jsy" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:3107/Service1.svc/http" binding="basicHttpBinding" bindingConfiguration="basic_IContacts" contract="ServiceReference1.IContacts" name="basic_IContacts" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
