<?xml version="1.0" encoding="utf-8"?>
<ProjectOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" identifier="CS">
  <GeneralOptions>
    <VersionComponent>Build</VersionComponent>
    <Storage>User</Storage>
    <AssemblyInfoVersionIdentifier>AssemblyVersion</AssemblyInfoVersionIdentifier>
    <SaveBackVersionInAllIdentifiers>false</SaveBackVersionInAllIdentifiers>
    <HandleIncrementOverflow>true</HandleIncrementOverflow>
  </GeneralOptions>
  <MsBuildOptions>
    <Usage>
      <Optimize useage="Project" value="false" />
      <DebugConstants useage="Project" />
      <DebugInfo useage="Project" />
    </Usage>
  </MsBuildOptions>
  <NuGetOptions>
    <GeneralOptions>
      <DependencyUsage>Any</DependencyUsage>
      <WillCreateTargetSpecificDependencyGroups>false</WillCreateTargetSpecificDependencyGroups>
    </GeneralOptions>
    <NuSpecOptions>
      <Metadata>
        <Id use="false" saveBack="false" />
        <Version use="true" saveBack="true" />
        <Title use="true" saveBack="false" />
        <Authors use="true" saveBack="true" />
        <Owners>false</Owners>
        <Description use="true" saveBack="true" />
        <ReleaseNotes>true</ReleaseNotes>
        <Summary>true</Summary>
        <Language use="false" saveBack="false" />
        <ProjectUrl>true</ProjectUrl>
        <IconUrl>true</IconUrl>
        <LicenseUrl>true</LicenseUrl>
        <Copyright use="true" saveBack="true" />
        <Tags>true</Tags>
        <RequireLicenseAcceptance>true</RequireLicenseAcceptance>
        <DevelopmentDependency>true</DevelopmentDependency>
        <Dependencies>true</Dependencies>
      </Metadata>
      <Files useFromSettings="true" />
    </NuSpecOptions>
  </NuGetOptions>
</ProjectOptions>