<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="moduleCreator" type="Stardust.Nucleus.Configuration.ModuleCreatorConfigurationSettings, Stardust" />
  </configSections>
  <appSettings>
    <add key="configStore" value="Type=embedded;endpoint=http://localhost:8090/brightstar;StoresDirectory=C:\Stardust\Stores;StoreName=config" />
    <add key="BrightstarDB.PersistenceType" value="rewrite" />
    <add key="stardust.UseTransientKernel" value="false" />
  </appSettings>
  <moduleCreator>
    <moduleCreators>
    </moduleCreators>
  </moduleCreator>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>