<?xml version="1.0"?>
<ProjectOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" identifier="CS">
  <GeneralOptions>
    <Increment>Build</Increment>
    <HandleIncrementOverflow>true</HandleIncrementOverflow>
  </GeneralOptions>
  <MsBuildOptions>
    <Usage>
      <Optimize useage="Project" value="false" />
      <DebugConstants useage="Project" />
      <DebugInfo useage="Project" />
    </Usage>
  </MsBuildOptions>
  <NuGetOptions>
    <NuSpecOptions>
      <Metadata>
        <Id use="false" saveBack="false" />
        <Version use="false" saveBack="true" />
        <Title use="false" saveBack="false" />
        <Authors use="false" saveBack="true" />
        <Owners>false</Owners>
        <Description use="true" saveBack="true" />
        <ReleaseNotes>true</ReleaseNotes>
        <Summary>true</Summary>
        <Language use="false" saveBack="false" />
        <ProjectUrl>true</ProjectUrl>
        <IconUrl>false</IconUrl>
        <LicenseUrl>false</LicenseUrl>
        <Copyright use="true" saveBack="true" />
        <Tags>false</Tags>
        <RequireLicenseAcceptance>false</RequireLicenseAcceptance>
        <DevelopmentDependency>false</DevelopmentDependency>
        <Dependencies>true</Dependencies>
      </Metadata>
      <Files useFromSettings="true" />
    </NuSpecOptions>
  </NuGetOptions>
</ProjectOptions>